# Setup

In [1]:
# enable to reimport modules
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [1]:
from scripts.feature import FeatureFactory

In [2]:
ff = FeatureFactory()
ff.feature_list()

['Type', 'Type0', 'Type1', 'Atom0', 'Atom1']

In [30]:
from scripts import experiment
dataset = experiment.run()

load the dataset pickle

In [31]:
dataset.train.head()

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant,atom_index_x,atom_0,x_0,y_0,...,atom_index_y,atom_1,x_1,y_1,z_1,electronegativity_y,radius_y,n_bonds_y,bond_lengths_mean_y,bond_lengths_std_y
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076,1,H,0.002150,-0.006031,...,0,C,-0.012698,1.085804,0.008001,2.55,0.82,4,1.091950,0.000003
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570,1,H,0.002150,-0.006031,...,2,H,1.011731,1.463751,0.000277,2.20,0.43,1,1.091952,0.000000
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548,1,H,0.002150,-0.006031,...,3,H,-0.540815,1.447527,-0.876644,2.20,0.43,1,1.091946,0.000000
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543,1,H,0.002150,-0.006031,...,4,H,-0.523814,1.437933,0.906397,2.20,0.43,1,1.091948,0.000000
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074,2,H,1.011731,1.463751,...,0,C,-0.012698,1.085804,0.008001,2.55,0.82,4,1.091950,0.000003

In [32]:
dataset.test.head()

,id,molecule_name,atom_index_0,atom_index_1,type,atom_index_x,atom_0,x_0,y_0,z_0,...,atom_index_y,atom_1,x_1,y_1,z_1,electronegativity_y,radius_y,n_bonds_y,bond_lengths_mean_y,bond_lengths_std_y
0,4658147,dsgdb9nsd_000004,2,0,2JHC,2,H,-1.661639,0.0,1.0,...,0,C,0.599539,0.0,1.0,2.55,0.82,2,1.130589,0.06849
1,4658148,dsgdb9nsd_000004,2,1,1JHC,2,H,-1.661639,0.0,1.0,...,1,C,-0.599539,0.0,1.0,2.55,0.82,2,1.130589,0.06849
2,4658149,dsgdb9nsd_000004,2,3,3JHH,2,H,-1.661639,0.0,1.0,...,3,H,1.661639,0.0,1.0,2.20,0.43,1,1.062099,0.00000
3,4658150,dsgdb9nsd_000004,3,0,1JHC,3,H,1.661639,0.0,1.0,...,0,C,0.599539,0.0,1.0,2.55,0.82,2,1.130589,0.06849
4,4658151,dsgdb9nsd_000004,3,1,2JHC,3,H,1.661639,0.0,1.0,...,1,C,-0.599539,0.0,1.0,2.55,0.82,2,1.130589,0.06849

In [33]:
dataset.structures.head()

,molecule_name,atom_index,atom,x,y,z,electronegativity,radius,n_bonds,bond_lengths_mean,bond_lengths_std
0,dsgdb9nsd_000001,0,C,-0.012698,1.085804,0.008001,2.55,0.82,4,1.091950,0.000003
1,dsgdb9nsd_000001,1,H,0.002150,-0.006031,0.001976,2.20,0.43,1,1.091953,0.000000
2,dsgdb9nsd_000001,2,H,1.011731,1.463751,0.000277,2.20,0.43,1,1.091952,0.000000
3,dsgdb9nsd_000001,3,H,-0.540815,1.447527,-0.876644,2.20,0.43,1,1.091946,0.000000
4,dsgdb9nsd_000001,4,H,-0.523814,1.437933,0.906397,2.20,0.43,1,1.091948,0.000000

In [34]:
dataset.scalar_coupling_contributions.head()

,molecule_name,atom_index_0,atom_index_1,type,fc,sd,pso,dso
0,dsgdb9nsd_000001,1,0,1JHC,83.0224,0.254579,1.25862,0.272010
1,dsgdb9nsd_000001,1,2,2JHH,-11.0347,0.352978,2.85839,-3.433600
2,dsgdb9nsd_000001,1,3,2JHH,-11.0325,0.352944,2.85852,-3.433870
3,dsgdb9nsd_000001,1,4,2JHH,-11.0319,0.352934,2.85855,-3.433930
4,dsgdb9nsd_000001,2,0,1JHC,83.0222,0.254585,1.25861,0.272013

In [35]:
dataset.structures.head()

,molecule_name,atom_index,atom,x,y,z,electronegativity,radius,n_bonds,bond_lengths_mean,bond_lengths_std
0,dsgdb9nsd_000001,0,C,-0.012698,1.085804,0.008001,2.55,0.82,4,1.091950,0.000003
1,dsgdb9nsd_000001,1,H,0.002150,-0.006031,0.001976,2.20,0.43,1,1.091953,0.000000
2,dsgdb9nsd_000001,2,H,1.011731,1.463751,0.000277,2.20,0.43,1,1.091952,0.000000
3,dsgdb9nsd_000001,3,H,-0.540815,1.447527,-0.876644,2.20,0.43,1,1.091946,0.000000
4,dsgdb9nsd_000001,4,H,-0.523814,1.437933,0.906397,2.20,0.43,1,1.091948,0.000000